NEXT_PUBLIC_SUPABASE_URL=https://wbujsgllzfcmpjemcmpv.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndidWpzZ2xsemZjbXBqZW1jbXB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5ODM2MjUsImV4cCI6MjA5ODU1OTYyNX0._EWsiKyBuSEkj01NzGPIuC4s7jdwrJwADfpbeW_VkBc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndidWpzZ2xsemZjbXBqZW1jbXB2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjk4MzYyNSwiZXhwIjoyMDk4NTU5NjI1fQ.jKe68cde0WL5RO8ePCigw7GhDVt-0t6L51W6ZcdkWG8
